@use "mixins";
@use "variables" as *;
@use "functions";
@use "@angular/material" as mat;

@include mat.core();

// Import fonts from library
@import 'libs/client/ui-shared/src/lib/styles/_fonts.scss';

// css reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	// background: url('assets/olympic-rings.jpg') center center / cover no-repeat;
	// @include mixins.coverImage;
}

body {
	background-color: $background-light;
  color: $text-color;
	min-height: 100vh;
  line-height: 1.6;
	font-family: Outfit, Arial, sans-serif;
  font-size: 1em;
	cursor: default;
}

a {
	cursor: pointer;
	text-decoration: none;
}

h1 {
	font-size: functions.font-size(title);
}

h1, H2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

main {
  padding-top: functions.padding(small);
}

form {
  @include mixins.form;
}

// Angular Material
// snackbar
.error-snackbar {
  &.validation-error {
    background-color: mat.m2-get-color-from-palette(mat.$m2-red-palette, 500);
    color: white;
  }
  
  &.auth-error {
    background-color: mat.m2-get-color-from-palette(mat.$m2-orange-palette, 500);
    color: white;
  }
  
  &.not-found-error {
    background-color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 500);
    color: white;
  }
  
  &.server-error {
    background-color: mat.m2-get-color-from-palette(mat.$m2-red-palette, 700);
    color: white;
  }
  
  .mat-simple-snackbar-action {
    color: white;
  }
}

.snackbar-success {
  background-color: $accent-green;
  color: $background-light;
}

.snackbar-info {
  background-color: $primary-color;
  color: $background-light;
}

// Mat Form 
// theme
$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$theme: mat.m2-define-light-theme((
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($theme);

// overrides
// hides underline
.mat-mdc-form-field .mdc-line-ripple {
  display: none;
}

// Input field size
.mat-mdc-form-field .mat-mdc-text-field-wrapper {
  height: 3em;
}

// hint messages
.mat-mdc-form-field-hint {
  font-size: functions.font-size(medium);
}

// error messages
.mat-mdc-form-field .mat-mdc-form-field-error {
  font-size: functions.font-size(medium);
  color: #d00;
}

// emphasizes input fields
.mat-mdc-form-field .mat-mdc-form-field-infix {
  background-color: rgba($primary-color, 0.1);  
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(.3,.3,.3,.3);
}

// highlights active input field
.mat-mdc-form-field 
.mat-mdc-form-field-infix:has(.mat-mdc-input-element:focus) {
  background-color: rgba($primary-color, 0.3);
}

// placeholder styling
.mat-mdc-form-field 
.mat-mdc-form-field-infix 
.mat-mdc-input-element::placeholder {
  font-style: italic;
  opacity: .5;
}

// hides placeholder on focus
.mat-mdc-form-field 
.mat-mdc-form-field-infix 
.mat-mdc-input-element:focus::placeholder {
  opacity: 0;
}